{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="Principal">
        <img src="{% static 'LogoFerromax.png' %}" alt="Ferromax" id="imagen">
        <div id="inicio">
            <h1 id="titulo">Ferromax</h1>
            <form action="" method="post">
                <h3>Registro de Usuario</h3>
                {% csrf_token %}
                <label for="id_username">Nombre de Usuario:</label><br>
                <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username"><br><br>
                <label for="id_last_name">Apellido:</label><br>
                <input type="text" name="last_name" maxlength="150" required="" id="id_last_name"><br><br>
                <label for="id_email">Correo Electronico</label><br>
                <input type="email" name="email" required="" id="id_email"><br><br>
                <label for="id_password1">Contraseña:</label><br>
                <input type="password" name="password1" required="" id="id_password1"><br><br>
                <label for="id_password2">Confirmar Contraseña:</label><br>
                <input type="password" name="password2" required="" id="id_password2"><br><br>
                <button type="submit">Registrar</button>
                <a href="{% url 'login' %}" id="Menu">Iniciar Sesion</a><br><br>
            </form><br>
            {% if form.username.errors %}
                <div class="error">
                    <p>El nombre de usuario ya existe</p>
                </div>
            {% endif %}
            {% if form.email.errors %}
                <div class="error">
                    <p>El correo electronico ya existe</p>
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>